@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-surface antialiased;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .seat-grid-container {
    scrollbar-width: thin;
    scrollbar-color: #bec8d2 transparent;
  }

  .seat-grid-container::-webkit-scrollbar {
    width: 6px;
  }

  .seat-grid-container::-webkit-scrollbar-thumb {
    background-color: #bec8d2;
    border-radius: 10px;
  }
}
